# Standard Node/Python/IDE ignores
node_modules/
.cache/
*.log
*.csv
*.parquet
*.md
.DS_Store
.env
__pycache__/
dist/
build/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
.vscode/
.idea/
*.bak
*.swp
*.swo
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
*.tgz
*.zip
*.tar.gz
*.out
*.pid
*.seed
*.pid.lock
# OS
Thumbs.db
Desktop.ini
